.purchaseorder {
    width: 100%;
    // background-color: white;
    padding: 40px;

    &-main {

        background-color: white;

        &--top {
            display: flex;
            flex-direction: column;
            width: 100%;

            &_head {
                background-color: #15679E;
                padding: 10px;
                border-radius: 10px;

                h2 {
                    font-family: Lato;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #fff;
                }
            }

            &_bottom {
                // border: 1px solid black;
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__search {
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    border: 1px solid black;
                    padding: 5px;

                    input {
                        border-radius: 10px;
                        border: none;
                        outline: none;

                    }

                }

                &__neworder {
                    display: flex;
                    flex-direction: column;
                    background-color: #15679E;
                    border-radius: 10px;
                    padding: 0;

                    h3 {
                        font-family: Lato;
                        font-size: 18px;
                        font-weight: 500;
                        letter-spacing: 0em;
                        line-height: 2px;
                        padding: 0 36px;
                        color: #FFF;
                    }
                }

                &__middle {
                    display: flex;
                    cursor: pointer;

                    // background-color: green;
                    &-all {
                        display: flex;
                        justify-content: center;
                        width: 50px;
                        padding: 4px;
                        // border-radius: 10px 0 0 10px;
                        border-right: 1px solid black;
                        border: 1px solid #15679E;
                        border-radius: 10px 0 0 10px;
                    }

                    &-paid {
                        display: flex;
                        justify-content: center;
                        width: 50px;
                        padding: 4px;
                        border: 1px solid #15679E;
                    }

                    &-unpaid {
                        display: flex;
                        justify-content: center;
                        width: 50px;
                        padding: 4px;
                        border: 1px solid #15679E;
                        border-radius: 0 10px 10px 0;
                    }
                }
            }
        }

        &--table {
            padding: 20px;
            // border-radius: 50px;
        }

    }
}

table {
    width: 100%;
    // border: 1px soild black;
    border-collapse: collapse;
    border-radius: 10px 10px 0 0;
    // background: green;   
    background: #D9D9D9;

    // padding: 10px;
}

thead {

    height: 50px;
    text-align: center;

    box-shadow: 0px 4px 4px 0px #00000040;
    // background: #D9D9D9;

}


tbody {
    tr {
        height: 60px;
        background-color: #9747FF1A;
        border-bottom: 1px solid gray;
        color: #616161;
        text-align: center;
    }
}

.tablebtn {
    background-color: #15679E;
    border-radius: 10px;
    padding: 10px 0;
    color: #FFF;
}

.tablebtndiv {
    padding: 10px;
}

.statusdata {

    background-color: #D4D4D4;
    border-radius: 20px;
    padding: 10px 0;
    color: #029808;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;

}

.activebtnFilter {
    background: #15679E;
    color: #FFF;
}